$bp_small : 24em;
$bp_med : 31.25em;
$bp_large : 50em;
$bp_xl : 73em;

body {
  background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAUDBAQEAwUEBAQFBQUGBwwIBwcHBw8LCwkMEQ8SEhEPERETFhwXExQaFRERGCEYGh0dHx8fExciJCIeJBweHx7/2wBDAQUFBQcGBw4ICA4eFBEUHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh7/wgARCAACAAIDASIAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAf/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIQAxAAAAGvA//EABQQAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQEAAQUCf//EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQMBAT8Bf//EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQIBAT8Bf//EABQQAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQEABj8Cf//EABQQAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQEAAT8hf//aAAwDAQACAAMAAAAQ8//EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQMBAT8Qf//EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQIBAT8Qf//EABQQAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQEAAT8Qf//Z');
}

.main {
  margin-top: 10px;
  width: $bp_med - 2;
  margin: auto;

  h1 {
    margin: 1.6rem 0;
  }
}

.form-group {
  margin-bottom: 15px;

  label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 600;
    text-transform: uppercase;
  }
  textarea {
    width: 99%;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 3px;

    ::focus {
      border-color: #66afe9;
    }
  }
  textarea[name="input-slug"] {
    background-color: rgba(238, 238, 238, 0.3);
  }
}

.form-actions {
  margin: 10px 0;

  input {
    border: 1px solid transparent;
    color: #fff;
    background-color: #fff;
    font-size: 1.1em;
    margin-right: 20px;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
  }
  input[type="reset"] {
    color: #333;
    border-color: #ccc;
  }
  input[type="reset"]:hover {
    background-color: #e6e6e6;
  }
  input[type="submit"] {
    background-color: #337ab7;
  }
  input[type="submit"]:hover {
    background-color: #286090;
  }
}

@media only screen and (max-width: $bp_med) {
  .main {
    width: 99%;

    h1 {
      margin: 1rem 0;
    }
  }
}
